nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    
    
    
}

.socialmedia i {
    color: chocolate;
    padding-right: 30px;
    font-size: 30px;
    

    
}
.dericion p {
    color: chocolate;
    margin: 0;
    font-size: 15px;
    align-items: center;
    justify-content: center;

    
}

