section{
        display: grid;
        grid-template-columns:33% 33% 33% ;
        justify-items: stretch;
        justify-content: center;

    }
.ubicacio{
    width: 25%;
    padding-left: 9px;
}
.ubicacio p{
    font-weight: bolder;

}

div{
    padding: 5px;
}
div a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

div iframe{
    display: flex;
    width: 90%;
    height: 300px;

}

